<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ATMServer</display-name>
  <welcome-file-list>
    <welcome-file>ATMmonitor.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ATMInitializerServerSide</display-name>
    <servlet-name>ATMInitializerServerSide</servlet-name>
    <servlet-class>servlet.ATMInitializerServerSide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ATMInitializerServerSide</servlet-name>
    <url-pattern>/ATMInitializerServerSide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ATMUpdateServlet</display-name>
    <servlet-name>ATMUpdateServlet</servlet-name>
    <servlet-class>servlet.ATMUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ATMUpdateServlet</servlet-name>
    <url-pattern>/ATMUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginStatusServlet</display-name>
    <servlet-name>UserLoginStatusServlet</servlet-name>
    <servlet-class>servlet.UserLoginStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginStatusServlet</servlet-name>
    <url-pattern>/UserLoginStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogoutServlet</display-name>
    <servlet-name>UserLogoutServlet</servlet-name>
    <servlet-class>servlet.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutServlet</servlet-name>
    <url-pattern>/UserLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ESBCommServlet</display-name>
    <servlet-name>ESBCommServlet</servlet-name>
    <servlet-class>servlet.ESBCommServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ESBCommServlet</servlet-name>
    <url-pattern>/ESBCommServlet</url-pattern>
  </servlet-mapping>
</web-app>